<form id="myinfoform" class="form-horizontal">
<fieldset id="myinfofield">

<!-- Form Name -->
<legend>个人资料</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="schoolname">我的学校</label>
  <div class="controls">
    <input id="schoolname" name="schoolname" type="text" placeholder="点击选择" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="address">宿舍号</label>
  <div class="controls">
    <input id="address" name="address" type="text" placeholder="如：男生宿舍2号楼1001" class="input-xlarge" required="">
    <p class="help-block">方便下单后送货上门，或开店后学生上门购买</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="nickname">称呼</label>
  <div class="controls">
    <input id="nickname" name="nickname" type="text" placeholder="如：小李、宿舍长、宿舍里最帅的人" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="tel">手机号</label>
  <div class="controls">
    <input id="tel" name="tel" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="btn_save"></label>
  <div class="controls">
    <button id="btn_save" name="btn_save" class="btn btn-success" disabled="true">保存</button>
    <button id="btn_abort" name="btn_abort" class="btn btn-danger" style="display: none;">取消</button>
  </div>
</div>

</fieldset>
</form>

<script type="text/javascript">
  require(['js/viewlogic/MyInfoLogic'], function(handler){  
    handler({
      sid:'{{sid}}',
      nickname:'{{name}}',
      tel:'{{tel}}',
      address:'{{address}}'
    });
  });  
</script>


<style type="text/css">
  .wrap{min-width: 320px;max-width:768px;margin:0;overflow:hidden;position:relative;}
  .wrapper {position:relative;height: 90px;width: 290px;overflow: hidden;margin:0;}
  .wrapper .scroller {position:absolute;}
  .wrapper .scroller li {float: left;width: 80px;height: 80px;line-height: 80px;text-align: center;font-style: none;padding: 5px}
  .wrapper .scroller li:nth-child(1) {} 
  .wrapper .scroller li {}
  .wrapper .scroller li span{display:block;}
</style>
<!-- 
<script type="text/javascript" src="plugin/iscroll/iscroll.js"></script>
<script type="text/javascript" src="plugin/iscroll/navbarscroll.js"></script>
 -->
<form id="myshopform" class="form-horizontal" >
<fieldset id="openshopfield">

<!-- Form Name -->
<legend>我的店铺</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="storenname">店铺名称</label>
  <div class="controls">
    <input id="storenname" name="storenname" type="text" placeholder="如：提莫君零食店" class="input-xlarge" required="" maxlength="20">
    <p class="help-block">请使用合法的名称，建议名称具有意义</p>
  </div>
</div>

<!-- File Button --> 
<div class="control-group">
  <label class="control-label" for="logo">店铺logo</label>
  <div class="controls" >
    <input style="display: none;" id="logo" name="logo" class="input-file" type="file">
    {{#if logo}}
    <img id="shopicon_0" ondragstart="return false;" src="/img/shopicons/shopicon_{{logo}}.jpg" style="width: 120px;height: 120px;background: #ddd;margin-left: 5px" />
    {{else}}
    <img id="shopicon_0" ondragstart="return false;" src="/img/shopicons/shopicon_1.jpg" style="width: 120px;height: 120px;background: #ddd;margin-left: 5px" />
    {{/if}}
    <div class="wrapper" id="wrapper1">
      <div class="scroller">
        <ul id="shopicons" class="clearfix">
        </ul>
        <script type="text/javascript">
          let imgs = '';
          for(let i = 1; i <= 30; i++){
            imgs += '<li><img id="shopicon_'+i+'" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_'+i+'.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>'
          }
          $('#shopicons').html(imgs);
        </script>
      </div>
    </div>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label" for="">经营类目</label>
  <div class="controls">
    {{#each allkinds}}
      <label class="checkbox sublabel" for="category-kind-{{id}}">
        <input type="checkbox" name="category" id="category-kind-{{id}}" value="{{id}}" onchange="selectKind(this)">
        {{name}}
        <a href="#" style="display: inline-block; float: right;color: #124964;" onclick="mggoods('{{id}}')">
          <i class="fa fa-edit">&nbsp;</i>管理商品
        </a>
      </label>
    {{/each}}
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="control-group">
  <label class="control-label" for="">服务对象</label>
  <div class="controls">
    <label class="checkbox inline" for="people-1">
      <input type="checkbox" name="people" id="people-1" value="1" onchange="selectPeople(this)">
      <i class="fa fa-mars">&nbsp;</i>男生
    </label>
    <label class="checkbox inline" for="people-2">
      <input type="checkbox" name="people" id="people-2" value="2" onchange="selectPeople(this)">
      <i class="fa fa-venus">&nbsp;</i>女生
    </label>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="control-group">
  <label class="control-label" for="">交易方式</label>
  <div class="controls">
    <label class="checkbox inline" for="tradeway-1">
      <input type="checkbox" name="tradeway" id="tradeway-1" value="1" onchange="selectTradeWay(this)">
      支持送货上门
    </label>
    <label class="checkbox inline" for="tradeway-2">
      <input type="checkbox" name="tradeway" id="tradeway-2" value="2" onchange="selectTradeWay(this)">
      支持到店自取
    </label>
  </div>
</div>

<!-- Text input-->
<div class="control-group" id="control-group-carryprice">
  <label class="control-label" for="carryprice">起送价格</label>
  <div class="controls">
    <input id="carryprice" name="carryprice" type="text" class="input-mini" maxlength="4" required="" placeholder="￥0">
  </div>
</div>

<!-- Text input-->
<div class="control-group" id="control-group-carryfee">
  <label class="control-label" for="carryfee">配送费</label>
  <div class="controls">
    <input id="carryfee" name="carryfee" type="text" class="input-mini" maxlength="4" required="" placeholder="￥0">
  </div>
</div>

<!-- Text input-->
<div class="control-group" id="control-group-scope">
  <label class="control-label" for="scope">配送范围</label>
  <div class="controls">
    <input id="scope" name="scope" type="text" placeholder="如：男生宿舍2号楼" class="input-xlarge" required="">
    <p class="help-block">请认真填写派送范围，以免无法派送</p>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="control-group">
  <label class="control-label" for="">支付方式</label>
  <div class="controls">
    <label class="checkbox inline" for="payway-1">
      <input type="checkbox" name="payway" id="payway-1" value="1" onchange="selectPayWay(this)">
      支持当面支付
    </label>
    <label class="checkbox inline" for="payway-2">
      <input type="checkbox" name="payway" id="payway-2" value="2" onchange="selectPayWay(this)">
      支持在线扫码
    </label>
  </div>
</div>


<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="notice">店铺公告</label>
  <div class="controls">                     
    <textarea id="notice" name="notice" maxlength="100">小店开张，欢迎光临！</textarea>
    <p class="help-block">可以描述一下需特殊说明的事项</p>
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="btn_ok"></label>
  <div class="controls">
    <button id="btn_save_shop" class="btn btn-success" disabled="true">保存</button>
    <button id="btn_abort_shop" class="btn btn-danger" style="display: none;">取消</button>
  </div>
</div>

</fieldset>
</form>

<script type="text/javascript"> 

  ////======== 选择店铺图标 ========
  let selectedShopIconId = '';
  function selectShopIcon(item,isInit){
    let itemVal = item.getAttribute("id");
    for(let i = 1; i <= 30; i++){
      let tmpId = 'shopicon_'+i;
      if (itemVal == tmpId) {
        selectedShopIconId = (itemVal.toString().match(/\d+/) || [])[0] || 1;
        $('#'+tmpId).css("border", "5px solid #735353");
        $('#'+tmpId).css("width", "70px");
        $('#'+tmpId).css("height", "70px");
        $("#shopicon_0").attr('src',$('#'+tmpId)[0].src); 
      }else{
        $('#'+tmpId).css("border", "none");
        $('#'+tmpId).css("width", "80px");
        $('#'+tmpId).css("height", "80px");
      }
    }
    checkShopChanged(isInit);
  }
  ////======== 选择种类 ========
  let selectedKindHash = {};
  let selectedKindStr  = '';
  function selectKind(item,isInit){
    let itemVal = item.value;
    selectedKindHash[itemVal] = item.checked;
    let result = [];
    for(let id in selectedKindHash){
      if (selectedKindHash[id]) {
        result.push(id);
      }
    }
    selectedKindStr = result.join('|');
    checkShopChanged(isInit);
  } 

  ////======== 服务对象 ========
  let selectedPepoleHash = {};
  let selectedPeopleStr  = '';
  function selectPeople(item,isInit){
    let itemVal = item.value;
    selectedPepoleHash[itemVal] = item.checked;
    let result = [];
    for(let id in selectedPepoleHash){
      if (selectedPepoleHash[id]) {
        result.push(id);
      }
    }
    selectedPeopleStr = result.join('|');
    checkShopChanged(isInit);
  }

  ////======== 交易方式 ========
  let selectedTradeWayHash = {};
  let selectedTradeWayStr  = '';
  function selectTradeWay(item,isInit){
    let itemVal = item.value;
    selectedTradeWayHash[itemVal] = item.checked;
    let result = [];
    for(let id in selectedTradeWayHash){
      if (selectedTradeWayHash[id]) {
        result.push(id);
      }
    }
    selectedTradeWayStr = result.join('|');

    if (item.id == 'tradeway-1') {
      if (item.checked) {
        $('#control-group-carryprice').show();
        $('#control-group-carryfee').show();
        $('#control-group-scope').show();
        // $("#carryprice").focus();
      }else{
        $('#control-group-carryprice').hide();
        $('#control-group-carryfee').hide();
        $('#control-group-scope').hide();
        $("#carryprice").blur();
      }
    }
    checkShopChanged(isInit);
  }

  if ($("#tradeway-1").is(':checked')) {
    $('#control-group-carryprice').show();
    $('#control-group-carryfee').show();
    $('#control-group-scope').show();
  }else{
    $('#control-group-carryprice').hide();
    $('#control-group-carryfee').hide();
    $('#control-group-scope').hide();
    $("#carryprice").blur();
  }

  ////======== 支付方式 ========
  let selectedPayWayHash = {};
  let selectedPayWayStr  = '';
  function selectPayWay(item,isInit){
    let itemVal = item.value;
    selectedPayWayHash[itemVal] = item.checked;
    let result = [];
    for(let id in selectedPayWayHash){
      if (selectedPayWayHash[id]) {
        result.push(id);
      }
    }
    selectedPayWayStr = result.join('|');
    checkShopChanged(isInit);
  }

  ////======== 最初数据 ========
  var orgStorename = '{{shopname}}';
  var orgLogo = '{{logo}}' || 1;
  var orgKinds = '{{kinds}}';
  var orgPeople = '{{people}}';
  var orgTradeway = '{{tradeway}}';
  var orgPayway = '{{payway}}';
  var orgCarryprice = '{{carryprice}}' || 0;
  var orgCarryfee = '{{carryfee}}' || 0;
  var orgScope = '{{scope}}';
  var orgNotice = '{{notice}}';
  function checkShopChanged(isInit){
    if (isInit) {
      return;
    }
    if (orgStorename != $('#storenname').val() || orgLogo != selectedShopIconId || orgKinds != selectedKindStr || orgPeople != selectedPeopleStr || orgTradeway != selectedTradeWayStr || orgPayway != selectedPayWayStr || orgCarryprice != ($("#carryprice").val().match(/\d+/) ? $("#carryprice").val().match(/\d+/)[0] : 0) || orgCarryfee != ($("#carryfee").val().match(/\d+/) ? $("#carryfee").val().match(/\d+/)[0] : 0) || orgScope != $('#scope').val() || orgNotice != $('#notice').val()) {
      $('#btn_save_shop').removeAttr("disabled"); 
      $('#btn_abort_shop').show(); 
    }else{
      $('#btn_save_shop').attr("disabled","disabled"); 
      $('#btn_abort_shop').hide(); 
    }
  }

  ////======== 取消保存 ========
  function updateShopLayer(isInit,orgStorename,orgLogo,orgKinds,orgPeople,orgTradeway,orgPayway,orgCarryprice,orgCarryfee,orgScope,orgNotice){

      $("input[type=checkbox]").each(function(){ //循环checkbox选择或取消
        $(this).prop("checked",false);
      })
      selectedShopIconId = ''
      selectedKindHash = {};
      selectedKindStr = '';
      selectedPepoleHash = {};
      selectedPeopleStr = '';
      selectedTradeWayHash = {};
      selectedTradeWayStr = '';
      selectedPayWayHash = {};
      selectedPayWayStr = '';
      $('#control-group-carryprice').hide();
      $('#control-group-carryfee').hide();
      $('#control-group-scope').hide();
      $("#carryprice").blur();

      $('#storenname').val(orgStorename||'');
      orgLogo && selectShopIcon(document.getElementById('shopicon_' + orgLogo),isInit);
      orgKinds && orgKinds.split('|').map(function(item, index) {
        $('#category-kind-' + item).prop({
          checked: true
        });
        selectKind(document.getElementById('category-kind-' + item),isInit);
      });
      orgPeople && orgPeople.split('|').map(function(item, index) {
        $('#people-' + item).prop({
          checked: true
        });
        selectPeople(document.getElementById('people-' + item),isInit);
      });

      orgTradeway && orgTradeway.split('|').map(function(item, index) {
        $('#tradeway-' + item).prop({
          checked: true
        });
        selectTradeWay(document.getElementById('tradeway-' + item),isInit);
      });
      orgPayway && orgPayway.split('|').map(function(item, index) {
        $('#payway-' + item).prop({
          checked: true
        });
        selectPayWay(document.getElementById('payway-' + item),isInit);
      });
      $('#carryprice').val('￥'+(orgCarryprice||0));
      $('#carryfee').val('￥'+(orgCarryfee||0));
      $('#scope').val(orgScope||'');
      $('#notice').val(orgNotice||'');
  }
  $('#btn_abort_shop').click(function() {
    window.event.preventDefault();
    window.event.returnValue = false;
    updateShopLayer(false,orgStorename,orgLogo,orgKinds,orgPeople,orgTradeway,orgPayway,orgCarryprice,orgCarryfee,orgScope,orgNotice);
    checkShopChanged(false);
  });

  ////======== 商品管理 ========
  function mggoods(id){
  }
  ////======== 引用外部逻辑 ========
  require(['js/viewlogic/MyShopLogic'], function(handler){  
    handler({
      kinds : '{{kinds}}',
      storenname : '{{shopname}}',
      logo : '{{logo}}' || 1,
      open : '{{open}}',
      notice : '{{notice}}',
      scope : '{{scope}}',
      carryprice : '{{carryprice}}' || 0,
      carryfee : '{{carryfee}}' || 0,
      people : '{{people}}',
      tradeway : '{{tradeway}}',
      payway : '{{payway}}',
      shopcreatetime : '{{shopcreatetime}}'
    });
  }); 
</script>




